Reading data

In [1]:
import pandas as pd, numpy as np,matplotlib.pyplot as plt, seaborn as sns

In [2]:
raw_data=pd.read_csv(r"D:\Churn Data\Churn-\telecom_churn_data.csv")
raw_data.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

dropping 'mobile_number ' & 'circle_id'

In [5]:
data=raw_data.copy()

In [6]:
data.drop(columns=['mobile_number', 'circle_id'],  inplace=True)

In [11]:
pd.set_option('display.max_columns', 300)

In [12]:

data.columns

Index(['loc_og_t2o_mou', 'std_og_t2o_mou', 'loc_ic_t2o_mou',
       'last_date_of_month_6', 'last_date_of_month_7', 'last_date_of_month_8',
       'last_date_of_month_9', 'arpu_6', 'arpu_7', 'arpu_8',
       ...
       'sachet_3g_9', 'fb_user_6', 'fb_user_7', 'fb_user_8', 'fb_user_9',
       'aon', 'aug_vbc_3g', 'jul_vbc_3g', 'jun_vbc_3g', 'sep_vbc_3g'],
      dtype='object', length=224)

creating churn columns

In [28]:
for i in ['total_ic_mou_9','total_og_mou_9','vol_2g_mb_9','vol_3g_mb_9']:
    print(f'for {i} null % is ',data[i].isna().sum())

for total_ic_mou_9 null % is  0
for total_og_mou_9 null % is  0
for vol_2g_mb_9 null % is  0
for vol_3g_mb_9 null % is  0

In [29]:
data[['total_ic_mou_9','total_og_mou_9','vol_2g_mb_9','vol_3g_mb_9']]

       total_ic_mou_9  total_og_mou_9  vol_2g_mb_9  vol_3g_mb_9
0                0.00            0.00         0.00         0.00
1              188.04           72.11         0.00         0.00
2              517.74          124.94         0.00         8.42
3              305.38          362.54         0.00         0.00
4              205.31          104.59         0.00         0.00
...               ...             ...          ...          ...
99994          154.43           27.14         0.00         0.00
99995          108.84          106.41         0.00         0.00
99996            0.00            0.00         0.00         0.00
99997            2.21            0.00        85.67      4177.14
99998            0.00            0.00         0.00         0.00

[99999 rows x 4 columns]

In [43]:
data['churn']=((data['total_ic_mou_9']+data['total_og_mou_9']+data['vol_3g_mb_9']+data['vol_2g_mb_9'])==0).astype('int')
data.drop(columns=['total_ic_mou_9','total_og_mou_9','vol_2g_mb_9','vol_3g_mb_9'], inplace=True)
data.columns

KeyError: 'total_ic_mou_9'

as we have to predict on churm month i.e month 9 
so segrating month 9 data togrther i.e. TEST data

In [66]:
col=data.columns.to_list()
churn_col=[i for i in col if i.endswith('9')]
data[churn_col].isna().sum()/data.shape[0]

last_date_of_month_9        0.016590
arpu_9                      0.000000
onnet_mou_9                 0.077451
offnet_mou_9                0.077451
roam_ic_mou_9               0.077451
roam_og_mou_9               0.077451
loc_og_t2t_mou_9            0.077451
loc_og_t2m_mou_9            0.077451
loc_og_t2f_mou_9            0.077451
loc_og_t2c_mou_9            0.077451
loc_og_mou_9                0.077451
std_og_t2t_mou_9            0.077451
std_og_t2m_mou_9            0.077451
std_og_t2f_mou_9            0.077451
std_og_t2c_mou_9            0.077451
std_og_mou_9                0.077451
isd_og_mou_9                0.077451
spl_og_mou_9                0.077451
og_others_9                 0.077451
loc_ic_t2t_mou_9            0.077451
loc_ic_t2m_mou_9            0.077451
loc_ic_t2f_mou_9            0.077451
loc_ic_mou_9                0.077451
std_ic_t2t_mou_9            0.077451
std_ic_t2m_mou_9            0.077451
std_ic_t2f_mou_9            0.077451
std_ic_t2o_mou_9            0.077451
std_ic_mou_9                0.077451
spl_ic_mou_9                0.077451
isd_ic_mou_9                0.077451
ic_others_9                 0.077451
total_rech_num_9            0.000000
total_rech_amt_9            0.000000
max_rech_amt_9              0.000000
date_of_last_rech_9         0.047600
last_day_rch_amt_9          0.000000
date_of_last_rech_data_9    0.740777
total_rech_data_9           0.740777
max_rech_data_9             0.740777
count_rech_2g_9             0.740777
count_rech_3g_9             0.740777
av_rech_amt_data_9          0.740777
arpu_3g_9                   0.740777
arpu_2g_9                   0.740777
night_pck_user_9            0.740777
monthly_2g_9                0.000000
sachet_2g_9                 0.000000
monthly_3g_9                0.000000
sachet_3g_9                 0.000000
fb_user_9                   0.740777
dtype: float64

In [79]:
selcted=[i for i in data.columns if (data[i].dtype== 'int' or data[i].dtype== 'float') and data[i].mean()<=1 ]
data[selcted].describe()

,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,std_og_t2c_mou_6,std_og_t2c_mou_7,std_og_t2c_mou_8,std_og_t2c_mou_9,isd_og_mou_6,isd_og_mou_7,isd_og_mou_8,isd_og_mou_9,og_others_6,og_others_7,og_others_8,og_others_9,std_ic_t2o_mou_6,std_ic_t2o_mou_7,std_ic_t2o_mou_8,std_ic_t2o_mou_9,spl_ic_mou_6,spl_ic_mou_7,spl_ic_mou_8,spl_ic_mou_9,ic_others_6,ic_others_8,count_rech_3g_6,count_rech_3g_7,count_rech_3g_8,count_rech_3g_9,night_pck_user_6,night_pck_user_7,night_pck_user_8,night_pck_user_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,churn
count,98981.0,98981.0,98981.0,96062.0,96140.0,94621.0,92254.0,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.0,96140.0,94621.0,92254.0,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,94621.000000,25153.000000,25571.000000,26339.000000,25922.000000,25153.000000,25571.000000,26339.000000,25922.000000,25153.000000,25571.000000,26339.000000,25922.000000,99999.000000
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.798277,0.776572,0.791247,0.723892,0.454157,0.030235,0.033372,0.047456,0.0,0.0,0.0,0.0,0.061557,0.033585,0.040361,0.163137,0.854656,0.970800,0.599133,0.621720,0.635711,0.659363,0.025086,0.023034,0.020844,0.015971,0.914404,0.908764,0.890808,0.860968,0.101911
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.765248,25.603052,25.544471,21.310751,4.125911,2.161717,2.323464,3.635466,0.0,0.0,0.0,0.0,0.160920,0.155725,0.146147,0.527860,11.955164,13.284348,1.274428,1.394524,1.422827,1.411513,0.156391,0.150014,0.142863,0.125366,0.279772,0.287950,0.311885,0.345987,0.302533
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.060000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5900.660000,5490.280000,5681.540000,4244.530000,800.890000,370.130000,394.930000,787.790000,0.0,0.0,0.0,0.0,19.760000,21.330000,16.860000,62.380000,1362.940000,2327.510000,29.000000,35.000000,45.000000,49.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

droping columns such as 'loc_og_t2o_mou	std_og_t2o_mou	loc_ic_t2o_mou	std_og_t2c_mou_6
std_og_t2c_mou_7	std_og_t2c_mou_8	std_og_t2c_mou_9 std_ic_t2o_mou_7	std_ic_t2o_mou_8	std_ic_t2o_mou_9' as all values in this is 0 or Null

In [80]:
data.drop(columns=['loc_og_t2o_mou','std_og_t2o_mou','loc_ic_t2o_mou','std_og_t2c_mou_6','std_og_t2c_mou_7','std_og_t2c_mou_8','std_og_t2c_mou_9','std_ic_t2o_mou_7','std_ic_t2o_mou_8','std_ic_t2o_mou_9'],inplace=True)

In [99]:
selcted= [i for i in selcted if i not in ['loc_og_t2o_mou','std_og_t2o_mou','loc_ic_t2o_mou','std_og_t2c_mou_6','std_og_t2c_mou_7','std_og_t2c_mou_8','std_og_t2c_mou_9','std_ic_t2o_mou_7','std_ic_t2o_mou_8','std_ic_t2o_mou_9']]
selcted

In [83]:
data.columns.nunique()

211

In [107]:
col=filtered_data = data[~data[selected]]

TypeError: ufunc 'invert' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''